<!DOCTYPE html>
<html ng-app="invoiceMan">
	<head>
		<title>SteelBrick - Invoice Manager</title>
		
		<!-- Bootstrap CDN -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

		<!-- Custom CSS -->
		<link rel="stylesheet" href="style.css" />

		<!-- AngularJS CDN -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

		<!-- Custom JS -->
		<script type="text/javascript" src="invoice.js">
		</script>

	</head>

	<body ng-controller="InvoiceController as invoiceCtrl">
		<!--  Store Header  -->
	    <header class="row text-center">
	      <h1>Invoice Manager</h1>
	    </header>

	    <section class="col-md-6 col-md-offset-3" ng-controller="TabController as tab">
			<ul class="nav nav-tabs">
				<li ng-class="{ active:tab.isSet(1) }">
				  	<a href="" ng-click="tab.setTab(1)">Invoice List</a>
				</li>
				<li ng-class="{ active:tab.isSet(2) }">
				  	<a href="" ng-click="tab.setTab(2)">Create Invoice</a>
				</li>
			</ul>
		    <div class="panel-body">
		      	<div name="invoice" class="panel-body well" ng-show="tab.isSet(1)">
		      		<p class="text-center">Previous Invoices</p>
		      		<div class="list-group">
					    <!--  Invoice Container  -->
					    <div class="list-group-item" ng-repeat="invoice in invoiceCtrl.invoices | orderBy:'-createdOn'">
					      <h3>INV#{{invoice.invoiceNmbr}} <em class="pull-right">{{invoice.totalPrice | currency}}</em></h3>
					      <strong>
					      	Customer Name: {{invoice.customerName}} <br/>
					      	Date: {{invoice.createdOn | date}}
					      </strong>

					      <table class="table">
					      	<tr>
						      	<th width="30%">Product</th>
					      		<th width="30%">Quantity</th>
					      		<th width="30%">Price per unit</th>
					      		<th>Total</th>
					      	</tr>

					      	<tr ng-repeat="item in invoice.lineItems">
					      		<td width="30%">{{item.productName}}</td>
					      		<td width="30%">{{item.quantity}}</td>
					      		<td width="30%">{{item.price | currency}}<span class="text-muted"> per unit</span></td>
					      		<td>{{item.price * item.quantity | currency}}</td>
					      	</tr>
					      </table>
					    </div>
				    </div>

				    <div class="text-center">
				    	<button type="button" class="btn btn-primary" ng-click="tab.setTab(2)">Create Invoice</button>
				    </div>
		      		<!-- <h4 class="label label-info text-center">No Past Invoices</h4> -->
		      	</div>

		      	<div name="invoice-form" ng-show="tab.isSet(2)">
		      		<form name="invoiceForm" ng-controller="CreateInvController as addInvCtrl"
		      									ng-submit = "addInvCtrl.addInvoice(invoice)">
		              <!--  Invoice Form -->
		              <h4>Create an Invoice</h4>
		              <fieldset class="form-group">
		                <input ng-model="addInvCtrl.invoice.customerName" type="text" class="form-control" placeholder="Customer Name" title="Customer Name" required/>
		              </fieldset>
		              <fieldset class="form-group">
		                <input ng-model="addInvCtrl.invoice.createdOn" type="date" class="form-control" placeholder="Date (yyyy-MM-dd)" required/>
		              </fieldset>
		              <fieldset class="form-group">
		                <input ng-model="addInvCtrl.invoice.invoiceNmbr" type="text" pattern='\d{5}' class="form-control" placeholder="5 - digit Invoice number" title="Invoice Number" oninvalid="setCustomValidity('Plz enter a 5-digit number')"
    onchange="try{setCustomValidity('')}catch(e){}" required/>
		              </fieldset>

		              <!-- {{addInvCtrl.totalPrice | currency}} -->

			            <table class="table" ng-show="{{addInvCtrl.selected}}">
			            	<tr ng-repeat="addedItem in addInvCtrl.selected">
			            		<td width="20%"> {{addedItem.productName}} </td>
			              		<td width="30%">
			              			<div class="input-group">
  										<div class="input-group-addon">Quantity</div>
  										<input class="form-control" type="number" min=1 ng-model="addedItem.quantity">
      								</div>
      							</td>
			             		<td width="20%">
			             			    <div class="input-group">
      										<div class="input-group-addon">$</div>
			             					<input class="form-control" type="text" name="price" pattern="^\d*(\.\d{1,2}$)?" size="4" title="Price of product - Please enter proper Currency format (Ex: 12, 12.04)" ng-model="addedItem.price">
			             				</div>
			             		</td>
			             		<td width="20%">{{addedItem.price * addedItem.quantity | currency}}</td>
			             		<td width="10%"><a role="button" ng-click="addInvCtrl.removeSelected(addedItem.id)"><img src="img/del.png" title="Remove Item" height="20"></img></a></td>
			              	</tr>
			            </table>

				        <!-- {{addInvCtrl.selected}} -->

				        <!-- <div class="well">{{addInvCtrl.invoice}}</div> -->
				        <p class="bg-danger">{{addInvCtrl.errors[0]}}</p>
				        <div class="row scrollable well text-center">
				        	<div class="panel">
				        		<input class="form-control" type="text" placeholder="Search here for products" ng-model="search.productName">
				        	</div>
						    <div class="col-sm-6 col-md-4 clickable" ng-repeat="product in addInvCtrl.products | filter:search:strict">
						    	<div class="thumbnail">
						      		<img class="item-img" src="{{product.img}}">
						      		<div class="caption">
						        		<strong>{{product.productName}}</strong>
						        		<p><a class="btn btn-primary btn-block" role="button" ng-click="addInvCtrl.select(product)">Add Item</a></p>
						      		</div>
						    	</div>
						  	</div>
						</div>

		              <fieldset class="form-group">
		                <input type="submit" class="btn btn-primary pull-right" value="Save Invoice"/>
	 	              </fieldset>

		            </form>

		      	</div>
		    </div>
		</section>
	</body>

</html> 